<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OnSiteFundComparer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OnSiteFundComparer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!--<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <OnSiteFundComparer.Properties.Settings>
      <setting name="WorkDir" serializeAs="String">
        <value />
      </setting>
      <setting name="ResultDir" serializeAs="String">
        <value />
      </setting>
      <setting name="ReferTableSql" serializeAs="String">
        <value>CREATE TABLE IF NOT EXISTS refertable
(
RowID      INTEGER      PRIMARY KEY AUTOINCREMENT,
ID         VARCHAR (20),
sRelateID  VARCHAR (20),
sDataDate  DATETIME (0),
InputID    VARCHAR (20),
Name       VARCHAR (20),
Region       VARCHAR (20),
Addr       VARCHAR (20),
DataDate   VARCHAR (20),
Amount     DOUBLE (0),
AmountType VARCHAR (20),
RelateID   VARCHAR (20),
RelateName VARCHAR (20),
Relation   VARCHAR (20),
Type       VARCHAR (20),
ItemType       VARCHAR (20),
Number     VARCHAR (20),
Area       DOUBLE (0) 
); 

; 

DROP INDEX IF EXISTS index_refertable; 

CREATE INDEX index_refertable ON refertable
(
RowID ASC,
ID ASC
); </value>
      </setting>
      <setting name="ImportDBFile" serializeAs="String">
        <value>ImportData</value>
      </setting>
      <setting name="CurrentRegion" serializeAs="String">
        <value />
      </setting>
      <setting name="CurentRegionName" serializeAs="String">
        <value />
      </setting>
      <setting name="WebServicesUrl" serializeAs="String">
        <value>http://156.18.1.93/</value>
      </setting>
      <setting name="Version" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="IsFirst" serializeAs="String">
        <value>0</value>
      </setting>
    </OnSiteFundComparer.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <OnSiteFundComparer.Properties.Settings>
      <setting name="MainDBFile" serializeAs="String">
        <value>Data\config.tmpa</value>
      </setting>
      <setting name="InputDBFile" serializeAs="String">
        <value>InputData</value>
      </setting>
      <setting name="ResultDBFile" serializeAs="String">
        <value>ResultData</value>
      </setting>
      <setting name="WorkingDB" serializeAs="String">
        <value>Data</value>
      </setting>
    </OnSiteFundComparer.Properties.Settings>
  </applicationSettings>
  <!--<microsoft.web.services3>
    <messaging>
      <mtom clientMode="On"/>
    </messaging>
  </microsoft.web.services3>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <log4net>
    <appender name="PatternFileAppender" type="SampleAppendersApp.Appender.PatternFileAppender, SampleAppendersApp">
      <file value="%date{yyyy-MM-dd}\%property{session}\output.log" />
      <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
    </appender>
    <root>
      <level value="Error" />
      <appender-ref ref="PatternFileAppender" />
    </root>
  </log4net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
</configuration>