<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CarlosAgExcelXmlWriterLibrary" version="1.0.0" targetFramework="net40" />
  <package id="EntityFramework" version="6.0.0" targetFramework="net4-client" />
  <package id="NetOffice.Core.Net40" version="1.7.3.0" targetFramework="net4-client" />
  <package id="NetOffice.Excel.Net40" version="1.7.3.0" targetFramework="net4-client" />
  <package id="System.Data.SQLite" version="1.0.101.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.101.0" targetFramework="net40" />
  <package id="System.Data.SQLite.EF6" version="1.0.101.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.101.0" targetFramework="net40" />
</packages>