<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FileTranser.MTOM.ClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <!--<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>-->

  </configSections>
  <applicationSettings>
    <FileTranser.MTOM.ClassLibrary.Properties.Settings>
      <setting name="FileTranser_MTOM_ClassLibrary_FileTranserServiceProxy_FileTransferWebService"
        serializeAs="String">
        <value>http://156.18.1.93/TMPAServices/filetransfer.asmx</value>
      </setting>
    </FileTranser.MTOM.ClassLibrary.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <!--<microsoft.web.services3>
    <messaging>
      <mtom clientMode="On"/>
    </messaging>
  </microsoft.web.services3>-->
</configuration>
